body{
    background-color: black;
    color: white;
}
.header {
    padding: 40px;
    text-align: center;
    background: white;
    color: black;
    font-family: 'Lucida Sans';
    font-size: 30px;
    background-position: left;
}
.nav {
    list-style-type: none;
    font-size: 25px;
    padding: 14px 16px;
    overflow: hidden;
    float: stretch;
    color: white;
    padding: 14px;
    text-decoration: none;}
.menuborder {
    border: 2px solid #ffffff;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: red;
    text-decoration: none;
}
a:hover {
    color: hotpink;
    text-decoration: none;
}
a:active {
    color: white;
    text-decoration: none;
}