body{
    background-color: black;
    color: white;
}
.header {
    padding: 40px;
    text-align: center;
    background: white;
    color: black;
    font-family: 'Lucida Sans';
    font-size: 30px;
    background-position: left;
}
.sidenav {
    height: 50%;
    width: 300px;
    position: float;
    bottom: 50px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 50px;
    font-size: 30px;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: red;
    text-decoration: none;
}
a:hover {
    color: hotpink;
    text-decoration: none;
}
a:active {
    color: white;
    text-decoration: none;
}