body{
    background-color: black;
    color: white;
}
.header {
    padding: 40px;
    text-align: center;
    background: white;
    color: black;
    font-family: 'Lucida Sans';
    font-size: 30px;
    background-image = "https://vykf5g.ch.files.1drv.com/y4mAgtyjSA0XdGVcRFH2Ifx_LF3Baw5JhzLo8eft-o2ceWVhZWqoTfs-6EouFeJpFl2f_LI7HfIOmIMsVONUySNGbM0nrWC6Uqg66WWS2k6pHJ3-PjA5fXbKGMi8rGsvGHGumLZjavhKTq94gqhrKMRZGi0QAVaPMgd7OIHyUatzgV8jnMaJmjKjLuFAojS_LLDcSGrKwMNodv6Z3mEpM9_HA?width=256&height=256&cropmode=none";
    background-position: left;
}
.sidenav {
    height: 50%;
    width: 300px;
    position: float;
    bottom: 50px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 50px;
    font-size: 30px;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: red;
    text-decoration: none;
}
a:hover {
    color: hotpink;
    text-decoration: none;
}
a:active {
    color: white;
    text-decoration: none;
}