body{
    background-color: black;
    color: white;
}
.header {
    padding: 40px;
    text-align: center;
    background: white;
    color: black;
    font-family: 'Lucida Sans';
    font-size: 30px;)
    background-image = "https://vykf5g.ch.files.1drv.com/y4mAgtyjSA0XdGVcRFH2Ifx_LF3Baw5JhzLo8eft-o2ceWVhZWqoTfs-6EouFeJpFl2f_LI7HfIOmIMsVONUySNGbM0nrWC6Uqg66WWS2k6pHJ3-PjA5fXbKGMi8rGsvGHGumLZjavhKTq94gqhrKMRZGi0QAVaPMgd7OIHyUatzgV8jnMaJmjKjLuFAojS_LLDcSGrKwMNodv6Z3mEpM9_HA?width=256&height=256&cropmode=none";
    background-position: left;
}
.nav {
    font-size: 25px;
    padding: 20px;
    color: white;
    text-decoration: none;
    width: 100%;
    text-align: center;
}
.nav a {
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    width: 50%;
    text-align: left;
  }
.intro {
    position: absolute;
    top: 400px;
    left: 550px;
    z-index: -20;
}

a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: red;
    text-decoration: none;
}
a:hover {
    color: hotpink;
    text-decoration: none;
}
a:active {
    color: white;
    text-decoration: none;
}